.narrow {
  width: 30%;
}
.padding {
  padding-left: 2em;
  padding-right: 2em;
}

.no-padding {
  margin-top: -1em;
  margin-bottom: -1.25em;
}

::ng-deep ngx-extended-pdf-viewer div.textLayer,
::ng-deep ngx-extended-pdf-viewer div.textLayer .fade-out {
  opacity: 1;
}

::ng-deep ngx-extended-pdf-viewer div.textLayer > span.fade-out {
  background-color: white;
  opacity: 0.8;
}

::ng-deep ngx-extended-pdf-viewer div.textLayer > span > .highlight {
  background-color: red;
  opacity: 0.2;
}
